body {
	background-color: SlateGray;
}

.flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1em;
}

h1 {
	font-size: 3em;
	font-family: Lobster;
	color: white;
	padding: .25em;
}

p {
	color: white;
	font-family: Raleway;
}

a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: paleTurquoise;
    font-weight: 700;
}

a:hover, a:focus {
    background-size: 100% 2px;
}